
<ion-content class="background-image">
  <ion-grid class="my-grid">
    <ion-row class="ion-justify-content-center">
      <ion-col size="9">
        <ion-button color="primary" class="btn-cxp"
        expand="block">
        COEXPAN
      </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
    <ion-col size="9">
      <ion-button color="danger" expand="block" class="btn-cmb">
        COEMBAL
      </ion-button>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
