.background-image{
    --background: url('../../../../assets/img/login/background-login.png') 0 0/100% 100% no-repeat;
}

.btn-cxp {
  --border-radius: 5px;
  margin: 8em 0 4em 0;
  font-size: large;
}

.btn-cmb {
  --border-radius: 5px;
  font-size: large;
}


